# test folders:
foo/
foo2/
bar/
*.img
test/
test.zsh

# executables:
a.out
*.exe
*.app
*.exe~
*.dll
*.so
*.dylib
easycopy
ec

# packages:
easycopy*.zip
easycopy*.zst

# cross-compiler for osx:
osxcross/
